[Unit]
Description=CometBFT for Shieldd

[Service]
ExecStart=/usr/local/bin/cometbft start --home /home/shieldd/.shieldd/network_data/node0/cometbft
Restart=no
User=shieldd
# Raise filehandle limit for RPC and P2P connections.
LimitNOFILE=65536

[Install]
WantedBy=default.target
